<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="metaTitle='게시판'">
<head>
    <meta charset="UTF-8">
    <title>map</title>

    <!-- import css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/map.css}" />

    <!-- kakao map api -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e4cee0c9bedd218ffaa36fcbd550420a"></script>

</head>

<body>
<div id="map"></div>

<!-- import js -->
<script type="text/javascript" th:src="@{/js/map.js}"></script>

</body>
</html>