<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="metaTitle='게시판'">
<head>
    <meta charset="UTF-8">
    <title>map</title>

    <!-- import css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/map.css}" />

    <!-- kakao map api -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e4cee0c9bedd218ffaa36fcbd550420a"></script>
</head>

<body>
<div id="map"></div>
<script>
    const container = document.getElementById('map');
    const options = {
        center: new kakao.maps.LatLng(33.450701, 126.570667),
        level: 3
    };

    const map = new kakao.maps.Map(container, options);
</script>

</body>
</html>